.section2 {
  background: url(../../../assets/section2bg.png);
  background-size: cover;
  min-height: calc(100vh - 70px);
  width: 100vw;
  height: fit-content;
  display: grid;
  grid-template-areas:
    "left top right"
    "left bottom right";
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: 40% 60%;
  overflow: hidden;
}
.left {
  grid-area: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.top {
  grid-area: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
.bottom {
  grid-area: bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 70px;
  p {
    margin-top: 120px;
    font-size: clamp(2.8em, 6vw, 18em);
    font-weight: 500;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
  }
  h2 {
    font-size: clamp(1em, 3vw, 3em);
    font-weight: 500;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    opacity: 0.3;
    background-color: rgba(0, 0, 0, 0.26);
    padding-left: 20px;
    padding-right: 20px;
  }
}
.right {
  grid-area: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.quote1 {
  margin-top: 50px;
  position: relative;
  border-radius: 12px;
  border: 5px solid rgba(255, 255, 255, 0.125);
  width: 90%;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.quote1:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../../../assets/flowers1.png) no-repeat center center;
  background-size: cover;
  opacity: 0.3;
  z-index: 1;
}

.quote1 p {
  position: relative;
  z-index: 2;
  text-align: center;
  font-size: clamp(2.2em, 5vw, 10em);
  font-weight: 100;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  width: 10ch;
  opacity: 0.7;
}
.quote2 {
  position: relative;
  border-radius: 12px;
  border: 5px solid rgba(255, 255, 255, 0.125);
  width: 95%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.quote2:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../../../assets/flowers3.png) no-repeat center center;
  background-size: cover;
  opacity: 0.3;
  z-index: 1;
}
.quote2 p {
  position: relative;
  z-index: 2;
  text-align: center;
  font-size: clamp(2em, 4vw, 10em);
  font-weight: 400;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  width: 15ch;
  opacity: 0.7;
}
.quote3 {
  margin-top: 50px;
  position: relative;
  border-radius: 12px;
  border: 5px solid rgba(255, 255, 255, 0.125);
  width: 90%;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.quote3:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../../../assets/flowers2.png) no-repeat center center;
  background-size: cover;
  opacity: 0.2;
  z-index: 1;
}

.quote3 p {
  position: relative;
  z-index: 2;
  text-align: center;
  font-size: clamp(2.2em, 5vw, 10em);
  font-weight: 100;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  width: 10ch;
  opacity: 0.7;
}
.homepagefooter {
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #221b1e;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border-top: 2px solid rgba(0, 0, 0, 0.5);
  p {
    opacity: 0.5;
    font-style: italic;
  }
}
@media screen and (max-width: 1200px) {
  .section2 {
    grid-template-areas:
      "left"
      "right"
      "top"
      "bottom";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    gap: 25px;
  }
  .left,
  .right,
  .top,
  .bottom {
    width: 100%;
  }
  .quote1,
  .quote3 {
    margin-top: 0px;
    min-height: 300px;
    width: 75%;
  }
  .quote2 {
    min-height: 150px;
    width: 75%;
  }
  .bottom {
    p {
      margin-top: 30px;
      margin-bottom: 50px;
    }
    h2 {
      display: none;
    }
  }
  .left {
    margin-top: 50px;
  }
}
