.sidebar {
  left: -300px;
  top: 67px;
  width: 300px;
  height: 100vh;
  position: fixed;
  background-color: #b9b9b9;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}
.sidebar.open {
  left: 0;
}
