.homepage {
  padding-top: 70px;
  width: 100%;
  height: fit-content;
  background-color: rgb(168, 75, 103);
  font-size: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding-bottom: 0px;
  box-sizing: border-box;
}
